// Mobile + Tablet
body > header {
    img{ display: none; }
    padding-top: $url-logo-height + $size-gutter;
}
section > header { display: none; }

p { margin-top: 0; }

article {
    padding: 0 $size-gutter $size-gutter;
    h2 { margin-top:0; }

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; justify-content: space-around;

    time, header, p { min-width: $size-viewport-mobile; }
}

@media (min-width: $size-viewport-kiosk) {
    body > header {
        height: $url-logo-width;
        img {
            display: block; width: $url-logo-width;
            position: absolute; top: $size-gutter; right: $size-gutter;
        }
    }
}

