<?php
/**
 * @copyright 2023 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
declare (strict_types=1);

define('APPLICATION_NAME', 'Calendar Kiosk');

/**
 * URL Generation settings
 *
 * Do NOT use trailing slashes
 *
 * If your site is being proxied, change BASE_HOST to the hostname
 * used for the outside world.
 */
define('BASE_URI' , "{{ calendar_kiosk_base_uri }}");
define('BASE_HOST', isset($_SERVER['HTTP_X_FORWARDED_HOST'])
                        ? $_SERVER['HTTP_X_FORWARDED_HOST']
                        : "{{ ansible_host }}");
define('BASE_URL' , "https://".BASE_HOST.BASE_URI);

/**
 * Specify the theme directory
 *
 * Remember to create a symbolic link in public/css to the theme CSS
 * that you declare here.
 *
 * A theme can consist of templates, blocks which will override core.
 * The current theme's screen.css will be included in the HTML head.
 */
define('THEME', 'COB');

define('GOOGLE_CREDENTIALS_FILE', __DIR__.'/credentials.json');
define('GOOGLE_USER_EMAIL',  "{{ calendar_kiosk_google.user        }}");
define('GOOGLE_CALENDAR_ID', "{{ calendar_kiosk_google.calendar_id }}");

$LOCATION_MAP = [
    // Google Calendar Resource   => Human Readable Location
    {{ calendar_kiosk_location_map | indent(4) }}
];

define('DATE_FORMAT',    'n/j/Y');
define('TIME_FORMAT',    'g:i a');
define('DATETIME_FORMAT', DATE_FORMAT.' '.TIME_FORMAT);
define('LOCALE', 'en_US');

define('PAGINATION_ITEMS_PER_PAGE', 20);


/**
 * Graylog is a centralized log manager
 *
 * This application supports sending errors and exceptions to a graylog instance.
 * This is handy for notifying developers of a problem before users notice.
 ** @see https://graylog.org
 */
define('GRAYLOG_DOMAIN', '{{ calendar_kiosk_graylog.domain }}');
define('GRAYLOG_PORT',    {{ calendar_kiosk_graylog.port   }});
