@import 'scss/vars';
@import 'scss/header';
@import 'scss/layout';

#errorMessages { background-color: $color-error; }

.modified {
    th, td { background-color: $color-alert; }
}

body {
    font-family: $sans;
    background-color: #000;
    margin: 0;

    > header { background-color:  $color-content-background; }
}

section {
    background-color: $color-content-background;
    border:        2px solid $color-divider;
    border-radius: $size-gutter;
    box-shadow:    0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.05);
    margin-top:    2 * $size-gutter;

    > header {
        background-color: $color-header;
        color: $color-content-background;
    }
}

article:nth-child(even) {
    background-color: $color-table-background-alt;
}

.location {
    font-size: $font-size-big;
    white-space: pre-line;
    a {
        text-decoration: none;
        display: inline-block;
        background-color: $color-action;
        color: $color-content-background;
        font-weight: bold;
        border: 2px solid $color-border-input;
        border-radius: 2 * $size-gutter;
        padding: 0 $size-gutter;
    }
}
