@import 'scss/vars';
@import 'scss/color-palette.scss';

body {
    font-family: $sans;
    background-color: $color-content-background;
    margin: 0;

}
a { text-decoration: none; }

   body > header,
section > header{
    color: $color-header;
    background-color: $color-content-background;
    padding:  $size-gutter;
    text-align: center; overflow: auto;

    a      { color: $color-header; font-family: $font-family-nav; }
    h1 { font-size: $font-size-biggest; }
    h1, h2 { margin: 0; text-align: center; }
    img    { display: none; }
}

section {
    background-color: $color-header;
    border-radius: $size-gutter;
    margin-top:    2 * $size-gutter;
}

article {
    padding: 0 $size-gutter $size-gutter;
    h2 { margin-top:0; }

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; justify-content: space-around;

    time, header, p { width: $size-viewport-mobile; }
}
article:nth-child(even) {
    background-color: $color-table-background-alt;
}

.location {
    font-size: $font-size-big;
    white-space: pre-line;
    a {
        text-decoration: none;
        display: inline-block;
        background-color: $color-action;
        color: $color-content-background;
        font-weight: bold;
        border: 2px solid $color-border-input;
        border-radius: 2 * $size-gutter;
        padding: 0 $size-gutter;
    }
}

p { margin-top: 0; }

$size-qrcode-width: 200px;
$size-logo-height:  100px;
$size-logo-margin:   20px;

footer {
    background: url("../images/cob-logo-horizontal-invert.svg") no-repeat center bottom $size-logo-margin;
    background-size: auto $size-logo-height;

    width: 100%;
    height: $size-logo-height + $size-logo-margin;
}

@media (width: 1080px) and (height: 1920px) {
    body { overflow: hidden; }

    body > header {
        height: $size-qrcode-width;
        padding: $size-logo-margin;

        div {
            display: block;
            width: 1080 - $size-qrcode-width - (2 * $size-logo-margin);
            padding-top: 58px;

        }

        h1 { font-size: $font-size-huge;  font-weight: bold; }
        h2 { font-size: $font-size-biggest; }

        img {
            display: block;
            width: $size-qrcode-width;
            position: absolute; top: $size-logo-margin; right: $size-logo-margin;
        }
    }
    article .location a { display: none; }

    footer {
        position: fixed; left: 0; bottom: 0;
    }
}
