@import 'scss/vars';
@import 'scss/header';
@import 'scss/color-palette.scss';

body {
    font-family: $sans;
    background-color: $color-content-background;
    margin: 0;

    > header { background-color:  $color-content-background; }
    > footer { 
        background: center url("../images/cob-logo-horizontal-invert.svg") no-repeat; 
        background-size: contain; 
        position: fixed; 
        left: 0; 
        bottom: 10px; 
        width: 100%;
        padding-bottom: 100px; }
}

section {
    background-color: $color-header;
    border:        2px solid $color-divider;
    border-radius: $size-gutter;
    box-shadow:    0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.05);
    margin-top:    2 * $size-gutter;
}

article {
    padding: 0 $size-gutter $size-gutter;
    h2 { margin-top:0; }

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; justify-content: space-around;

    time, header, p { width: $size-viewport-mobile; }
}
article:nth-child(even) {
    background-color: $color-table-background-alt;
}

.location {
    font-size: $font-size-big;
    white-space: pre-line;
    a {
        text-decoration: none;
        display: inline-block;
        background-color: $color-action;
        color: $color-content-background;
        font-weight: bold;
        border: 2px solid $color-border-input;
        border-radius: 2 * $size-gutter;
        padding: 0 $size-gutter;
    }
}
@media (width: 1080px) and (height: 1920px) {
    body {overflow: hidden;}
    article .location a { display: none; }
}

p { margin-top: 0; }
