<header>
    <div>
        <h1><a href="{{ BASE_URI }}">Today's Public Meetings</a></h1>
        <h2 class="weekday">{{ "now"|date("l, F j") }}</h2>
    </div>
    <img id="qrcode" src="{{ BASE_URI }}/qr-code.png" />
</header>
